DJANGO_SECRET_KEY=914452e27c76ff7b6168547dbdc2acdcfb5dd8d00eeb5fd080226334ab67cf7a
DEBUG=False
META_WEBHOOK_VERIFY_TOKEN=rustar_instagram_webhook_2026
META_APP_SECRET=f1e0079aee91fc4345e3a63a51644b8c

INSTAGRAM_APP_ID=1591881132421002
INSTAGRAM_APP_SECRET=f1e0079aee91fc4345e3a63a51644b8c
INSTAGRAM_REDIRECT_URI=https://instagram-comment-automation-tbas.onrender.com/connect/instagram/callback/
META_GRAPH_VERSION=v26.0